/* this is where all of your CSS styles go */

html,body {
	width: 100%;
	height: 100%;
}

.grid_container {
	width: 500px;
	height: 100px;
	position: relative;
	left: 600px;
	top: 200px;
	margin-top: -50px;
	margin-left: -100px;
}

.mono {
	font-family: 'Sigmar One', cursive;
	font-size: 6em;
	float: left;
}


@keyframes e_move {
	0% {left: 0px;}
	100% {left: -130px;}
}

.e {
	position: relative;
	animation: e_move 3s infinite;
}

@keyframes ee_move {
	0% {top: 0px;}
	100% {top: 195px;}
}

.ee {
	font-family: 'Sigmar One', cursive;
	font-size: 6em;
	position: relative;
	left: 350px;
	top: 195px;
	animation: ee_move 3s infinite;
}

@keyframes l_move {
	0% {right: 0px;}
	100% {right: -70px;}
}

.l {
	position: relative;
	animation: l_move 3s infinite;
}

@keyframes ll_move {
	0% {top: 254px; left: 510px;}
	100% {top: 254px; left: 510px;}
}

.ll {
	font-family: 'Sigmar One', cursive;
	font-size: 6em;
	position: absolute;
	animation: ll_move 3s infinite;
}

.m {
	position: relative;
	animation: m_move 3s linear infinite;
}

@keyframes m_move {
	0% { top: 0px; color: black; }
	100% { top: 300px; color: transparent; }
}

.o {
	position: relative;
	animation: o_move 3s linear infinite;
}

@keyframes o_move {
	0% { bottom: 0px; color: black; }
	100% { bottom: 300px; color: transparent; }
}

@keyframes n_move {
	0% {left: 0px;}
	100% {left: -90px;}
}

.n {
	position: relative;
	animation: n_move 3s infinite;
}

@keyframes lemon_move {
	0% {top: 330px; left: 850px;}
	100% {top: 330px; left: 500px;}
}

.circle {
	width: 300px;
	height: 300px;
	background: yellow;
	position: absolute;
	border-radius: 100%;
	margin-left: -150px;
	margin-top: -150px;
	z-index: -1;

	animation: lemon_move 3s infinite;
}










